<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="GoogleApiTestEntities" connectionString="metadata=res://*/Models.BIVALEModel.csdl|res://*/Models.BIVALEModel.ssdl|res://*/Models.BIVALEModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=khoaphamlearning.database.windows.net;initial catalog=GoogleApiTest;user id=khoapham;password=123456789x@X;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>