@{
	ViewData["Title"] = "Home Page";
}


<br />
<h1>Google Integration</h1>
<br />
<h3>@ViewBag.Message</h3>
<br />
@using (Html.BeginForm("SyncToGoogle", "Home"))
{
	<input class="button" id="submit" type="submit" value="Login with Google" />
}